
h1{
    color: rgba(94, 220, 220, 0.805);
}

button{
    border-radius: 10px;
    background-color:rgba(228, 135, 77, 0.797);
    width: 80px;
    height: 50px;
    box-shadow: 4px 4px 10px rgba(8, 8, 8, 0.5);
    border: none;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

ul{
    box-shadow: 4px 2px 5px rgba(8, 8, 8, 0.5);
    border: none;
    width: 350px;
    max-height: 100%;
}

li, .product_id{
    list-style-type: none;
    font-weight: 800;
    font-size: 25px;
}

.product_id{
    color: rgba(38, 6, 68, 0.791);
}